:root {
    --test-light: rgb(245, 179, 201);
    --test-dark: rgb(112, 14, 60);
}

body {
    background-color: var(--test-light);
}
.light {
    background-color: var(--test-light);
}
.dark {
    background-color: var(--test-dark);
}
.new-game {
    width: 125px;
    height: 125px;
}
.new-game-svg {
    width: 100px;
    height: 100px;
}
/*
.hidden {
    display: none;
}*/
/*------------------------------------------- Minesweeper ---*/
.board {
    display: flex;
    flex-wrap: wrap;
    width: 750px;
    height: 500px;
}

.board div {
    width: 50px;
    height: 50px;
    border: 2px solid var(--test-light);
}

.bomb {
    background-color: salmon;
}

.revealed-square {
    background-color: seagreen;
}

.mine {
    width: 30px;
    height: 30px;
}