:root {
    --test-light: rgb(245, 179, 201);
    --test-dark: rgb(112, 14, 60);
}

body {
    background-color: var(--test-light);
}
.light {
    background-color: var(--test-light);
}
.dark {
    background-color: var(--test-dark);
}
/*
.hidden {
    display: none;
}*/
/*------------------------------------------- Minesweeper ---*/
.board {
    display: inline-grid;
    grid-template-columns: repeat(var(--size), 50px);
    grid-template-rows: repeat(var(--size), 50px);
}